# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# VS Code settings
.vscode/

# Mac/Linux system files
.DS_Store

# Logs or temp files
*.log
*.tmp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# From Dash 
*.pyc
.env
